%h1.title Get the Convex Hull
%p
  = label :perimeter, 'The Perimeter of our Convex Hull is: ' + @params[:perimeter].to_s

%p
  = label :distance_from_home, 'The farthest POI from home is: ' + @params[:farthest_distance_from_home].to_s

.map
  %div#map

%input#params{type: 'hidden', value: @params_json}
%input#locations{type: 'hidden', value: @params[:convex_hull].to_json}


%table#table
  %thead
    %tr
      %th Name
      %th Latitude
      %th Longitude
      %th Description
  %tbody
    - @params[:convex_hull].each do |location|
      %tr
        %td= location.name
        %td= location.latitude
        %td= location.longitude
        %td= location.description


= link_to 'Back to location list', locations_path

= javascript_include_tag '/assets/maps/OpenLayers'
= javascript_include_tag '/assets/maps/locations'

:javascript
  initMap($("#locations").val());